{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="icon" type="image/jpg" href="{% static 'crud/images/ico.jpg'%} ">
    <link rel="stylesheet" href="{% static 'crud/css/log_sign_in.css' %}"> 
    <title>Change password</title>
</head>
<body>
    <div class="image">
        <img src="{% static 'crud/images/background-log.jpg' %}">
    </div>
    
    <div class="body">
        <div class="password-container">
            <div class="form-box-password">
                <h1>Change password</h1>

                <form method="POST">
                    {% csrf_token %}
                    {% if step == 'request' %}  
                        <label>Enter email address</label>
                        <input type="email" name="email" placeholder="Your email address..." required>
                        <button type="submit">Send code</button>
                    {% elif step == 'verify' %}
                        <label>Enter verification code</label>
                        <input type="text" name="code" placeholder="Verifcation code" required>
                        <button type="submit">Verify code</button>
                    {% elif step == 'change' %}
                        <label>Enter new password</label>
                        <input type="password" name="new_password" required>
                        <label>Confirm password</label>
                        <input type="password" name="confirm_password" required>
                        <button type="submit" class="change-password">Change password</button>
                    {% endif %}
                </form>
                {% for message in messages %}
                    <p class="error">{{ message }}</p>
                {% endfor %}                   
            </div>
        </div>
    </div>
</body>
</html>